html, body {
    height: 100%;
    margin: 0;
    background-color: #fbdada;
}

.container-fluid {
    height: 100%;
    position: relative;
}

.bg-login {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbdada;
}

.image-wrapper img {
    max-width: 80%;
    height: auto;
}

.login-section-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbdada;
    padding-top: 80px; /* Điều chỉnh khoảng cách xuống 10px */
    position: relative;
}

.logo-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Pacifico', cursive;
}

.logo {
    max-width: 100px;
}

.login-wrapper {
    width: 60%; /* Giảm chiều rộng khu vực login */
    padding: 20px; /* Giảm padding */
    background-color: #ffffff;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif; /* Áp dụng font chữ Pacifico */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-control {
    background-color: #C1F2C0 !important; /* Sử dụng !important để đảm bảo áp dụng màu nền */
    border: 1px solid #ccc; /* Đảm bảo có viền để hiển thị rõ */
    box-shadow: none;
    margin-bottom: 15px;
    color: #000; /* Màu chữ cho form control */
}

.btn-primary {
    background-color: #C1F2C0;
    border: none;
    color: #000;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #A9D99F;
}

.text-danger {
    font-size: 0.9em;
}

.text-center a {
    color: #007bff;
}
